.u-section-1 .u-sheet-1 {
  min-height: 1830px;
}

.u-section-1 .u-image-1 {
  width: 545px;
  height: 642px;
  margin: 13px auto 0 228px;
}

.u-section-1 .u-text-1 {
  margin: 144px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 27px 322px 60px auto;
  padding: 22px 190px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    --radius: 50px;
    margin-right: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 175px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1824px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 636px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-1 .u-image-1 {
    height: 506px;
    width: 431px;
    margin-top: 0;
    margin-left: -41px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -113px;
  }

  .u-section-1 .u-btn-1 {
    
    transition-duration: 0.5s;
    margin-top: 9px;
    margin-right: auto;
    padding: 10px 77px 12px 75px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}
.whatsapp-sticky-button {
  position: sticky;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  background-color: #25D366; /* WhatsApp green */
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.whatsapp-sticky-button:hover {
  background-color: #1EBE52;
}
